<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-party-edit">
        <h2 class="text-center">Modifie ta soirée</h2>

        <%= simple_form_for(@party) do |f| %>
          <%= f.input :name, :input_html => {class: "input-border"}, label: "Nom de ta soirée", :label_html => {class: "label-style"} %>
          <%= f.input :date, :input_html => {class: "input-border"}, label: "Date", :label_html => {class: "label-style"} %>
          <%= f.input :available_seats, :input_html => {class: "input-border"}, label: "Nombre de places", :label_html => {class: "label-style"} %>
          <%= f.input :description, :input_html => {class: "input-border"}, label: "Description", :label_html => {class: "label-style"} %>
          <%= f.input :requirement, :input_html => {class: "input-border"}, label: "Quoi ramener", :label_html => {class: "label-style"} %>
          <%= f.input :address, :input_html => {class: "input-border"}, label: "Adresse (indiquer uniquement la rue)", :label_html => {class: "label-style"} %>
          <%= f.button :submit, 'Valider', class: "btn btn-primary" %>
        <% end  %>
        <div class="party-deletion-section">
          <%= link_to "Annuler la soirée", party_path(@party), method: :delete, data: {confirm: "Es-tu sûr de vouloir faire tant de peine aux gens?"}, class: "button-red-big-font" %>
        </div>
      </div>
    </div>
  </div>
</div>
