<h3>Parties near you</h3>

<ul>
  <% @parties.each do |party|  %>
    <li>
      <%= party.name %> -
      Guests: <%= party.available_seats %> -
      <%= party.user.first_name %> -
      <%= link_to "Aller voir", party_path(party) %>
    </li>
  <% end %>
</ul>

<%= link_to "Organise ta soirée", new_party_path %>
