<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-party-new">
        <h2 class="text-center">Organiser une soirée</h2>

        <%= simple_form_for(@party) do |f| %>
          <%= f.input :name, label: "Nom de ta soirée", :label_html => {class: "label-style"} %>
          <%= f.input :date, label: "Date", :label_html => {class: "label-style"} %>
          <%= f.input :available_seats, label: "Nombre de places", :label_html => {class: "label-style"} %>
          <%= f.input :description, label: "Description", :label_html => {class: "label-style"} %>
          <%= f.input :requirement, label: "Quoi ramener", :label_html => {class: "label-style"} %>
          <%= f.input :address, label: "Adresse (indiquer uniquement la rue)", :label_html => {class: "label-style"} %>
          <%= f.button :submit, 'Valider', class: "btn btn-primary" %>
        <% end  %>
      </div>
    </div>
  </div>
</div>
