<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-party-new">
        <h2 class="text-center">Organiser une soirée</h2>

        <%= simple_form_for(@party) do |f| %>
          <%= f.input :name, :input_html => {class: "input-border"}, :label_html => {class: "label-style"}, placeholder: "Soirée cinéma" %>

          <%= f.input :date, :input_html => {class: "input-border"}, label: "Date", :label_html => {class: "label-style"}, placeholder: "19/11/2018 20h" %>

          <%= f.input :available_seats, :input_html => {class: "input-border"}, label: "Nombre de places", placeholder: "Places disponibles", :label_html => {class: "label-style"}, placeholder: "4" %>

          <%= f.input :description, label: "Description", :label_html => {class: "label-style"}, :input_html => {:rows => 10, class: "input-border"},
            placeholder: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget est eget ipsum finibus egestas. Curabitur rhoncus, erat ultricies facilisis vestibulum, augue nisi pretium sapien, laoreet placerat ante lectus a neque. Nullam eu ultrices odio. Suspendisse potenti. Duis tristique lorem lacinia quam suscipit porta. " %>

          <%= f.input :requirement, :input_html => {class: "input-border"}, label: "Quoi ramener", :label_html => {class: "label-style"},
            placeholder: "Cras consectetur placerat quam ac blandit. Fusce risus massa, imperdiet sit amet molestie id, tincidunt ut dui." %>

          <%= f.input :address, :input_html => {class: "input-border"}, label: "Adresse (indiquer uniquement la rue)", :label_html => {class: "label-style"}, placeholder: "Rue Pétion 75011 Paris" %>

          <%= f.button :submit, 'Valider', class: "btn btn-primary" %>

        <% end  %>
      </div>
    </div>
  </div>
</div>
