<h3><%= @party.name %></h3>

Adresse: <%= @party.address %>
<br>
Date: <%= @party.date %>
<br>
Nombre de places: <%= @party.available_seats %>
<br>
Description: <%= @party.description %>
<br>
Quoi ramener: <%= @party.requirement %>
<br>

Chez: <%= @party.user.first_name %> <%= @party.user.last_name %>
<br>
<br>


<% if @party.user == current_user %>

  <%= link_to "Modifie ta soirée", edit_party_path(@party) %>

  <p>
  <%= link_to "Supprime ta soirée", party_path(@party), method: :delete, data: {confirm: "Es-tu sûr de vouloir faire tant de peine aux gens?"} %>
  </p>

  Demandes pour ta soirée
    <ul>
      <% @bookings.each do |booking| %>
        <li>
          <%= booking.user.first_name %> - Nombre de personnes: <%= booking.people_coming %> - A propos: <%= booking.description %>

          - Demande en attente

          <% if booking.status == "pending" %>
            <%= simple_form_for [@party, booking] do |f| %>
              <%= f.hidden_field :people_coming %>
              <%= f.hidden_field :description %>
              <%= f.hidden_field :status, value: 'accepted' %>
              <%= f.submit 'Accepter'  %>
            <% end %>

            <%= simple_form_for [@party, booking] do |f| %>
              <%= f.hidden_field :people_coming %>
              <%= f.hidden_field :description %>
              <%= f.hidden_field :status, value: 'declined' %>
              <%= f.submit 'Refuser'  %>
            <% end %>

          <% elsif booking.status == "accepted" %>

            - Vous avez accepté cette demande

            <%= simple_form_for [@party, booking] do |f| %>
              <%= f.hidden_field :people_coming %>
              <%= f.hidden_field :description %>
              <%= f.hidden_field :status, value: 'declined' %>
              <%= f.submit 'Refuser'  %>
            <% end %>
          <% else %>

             - Vous avez refusé cette demande

            <%= simple_form_for [@party, booking] do |f| %>
              <%= f.hidden_field :people_coming %>
              <%= f.hidden_field :description %>
              <%= f.hidden_field :status, value: 'accepted' %>
              <%= f.submit 'Accepter'  %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>


<% else %>

  <% if current_user.bookings.index{ |x| @party.bookings.include?(x)}.nil? %>

    <h3>Demande à t'incruster</h3>
      <%= simple_form_for [@party, @booking] do |f| %>
        <%= f.input :people_coming, label: "Nombre de personnes" %>
        <%= f.input :description, label: "Commentaire" %>
        <%= f.hidden_field :status, value: 'pending' %>
        <%= f.submit "Valider" %>
      <% end %>

  <% else %>
    <h3>Ta réservation:</h3>
    <ul>
     <li>
       <%= @created_booking.user.first_name %>
     </li>
     <li>
       <%= @created_booking.people_coming  %>
     </li>
     <li>
       <%= @created_booking.description %>
     </li>
    </ul>

    <%= link_to "Modifie ta réservation", edit_party_booking_path(@party, @created_booking) %>
    <%= link_to "Supprime ta réservation", party_booking_path(@party, @created_booking), method: :delete, data: {confirm: "Tu ne veux plus venir?"} %>

  <% end %>

<% end %>




















