<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-offset-3">
      <div class="form-edit-booking">
          <h2>Modifier sa réservation</h2>
          <%= simple_form_for [@party, @booking] do |f| %>
            <%= f.input :people_coming, label: "Nombre de personnes", :label_html => {class: "label-style"} %>
            <%= f.input :description, label: "Commentaire", :label_html => {class: "label-style"}, :input_html => {:rows => 10} %>
            <%= f.hidden_field :status, value: 'pending', :label_html => {class: "label-style"} %>
            <%= f.submit "Valider", class: "btn btn-primary" %>
          <% end %>
        </div>
    </div>
  </div>
</div>

