<h3>Dashboard</h3>

Soirées que j'organise:
<ul>
  <% @parties.each do |party| %>
    <li>
      <%= link_to party.name, party_path(party) %> -
      Nombre de places disponibles: <%= party.available_seats %>
    </li>
  <% end %>
</ul>


Soirées où je veux m'incruster:

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= link_to booking.party.name, party_path(booking.party) %> -
      <%= booking.user.first_name %> -
      Nombre d'incrustes: <%= booking.people_coming %> -
      Description: <%= booking.description %> -

      <% if booking.status == 'pending' %>
        En attente

      <% elsif booking.status == 'accepted' %>
        Acceptée

      <% else %>
        Demande rejetée
      <% end %>
    </li>
  <% end %>
</ul>
