<div class="container">

  <div id="menu">
      <a href="#tab1">SOIRÉES QUE J'ORGANISE</a> -
      <a href="#tab2">MES DEMANDES</a>
  </div>

  <div id="tab2" class="tab-content">
    <ul>
      <% @bookings.each do |booking| %>
        <li>
          <%= booking.party.name %>
          - <%= booking.party.date %>
          - Nombre de personnes: <%= booking.people_coming %> -

          <% if booking.status == 'pending' %>
            En attente

          <% elsif booking.status == 'accepted' %>
            Acceptée

          <% else %>
            Demande rejetée
          <% end %>
          - <%= link_to "Consulter", party_path(booking.party) %>
        </li>
      <% end %>
    </ul>
  </div>



  <div id="tab1" class="tab-content">
    <ul>
      <% @parties.each do |party| %>
        <li>
          <%= party.name %>
          - <%= party.date %>
          - Places disponiles: <%= party.available_seats %>
          - Nombre de demandes: <%= party.bookings.count %>
          - <%= link_to "Consulter", party_path(party) %>
        </li>
      <% end %>
    </ul>
  </div>

</div>








