<% if @bookings.blank? %>

  Pas encore de demande

<% else %>
  <ul class="list-no-decoration">
    <% @bookings.each do |booking| %>
      <li>
        <div class="bookings-host-review">
          <h5 class="booking-user-name"><%= booking.user.first_name %></h5>
          <div class="people-coming-host-review">
            <h5 class="people-coming-label">Nombre de personnes</h5>
            <p class="people-coming-number"><%= booking.people_coming %></p>
          </div>
          <div class="description-section-host-review">
            <h5 class="description-label-host-review">A propos</h5>
            <p class="description-text-host-review"><%= booking.description %></p>
          </div>

          <div class="status-section">
            <% if booking.status == "pending" %>
              <p class="text-grey">EN ATTENTE</p>
            <% elsif booking.status == "accepted" %>
              <p class="text-green">ACCEPTEE</p>
            <% else %>
               <p class="text-red">REJETEE</p>
            <% end %>
          </div>
          Contacter <%= booking.user.first_name %>

          <div class="status-section-choice">
            <% if booking.status == "pending" %>
            <ul class="list-inline list-no-decoration">
              <li>
                <%= simple_form_for [@party, booking] do |f| %>
                  <%= f.hidden_field :people_coming %>
                  <%= f.hidden_field :description %>
                  <%= f.hidden_field :status, value: 'accepted' %>
                  <%= f.submit 'Accepter', class: "text-green-button"  %>
                <% end %>
              </li>
              <li>
                <%= simple_form_for [@party, booking] do |f| %>
                  <%= f.hidden_field :people_coming %>
                  <%= f.hidden_field :description %>
                  <%= f.hidden_field :status, value: 'declined' %>
                  <%= f.submit 'Refuser', class: "text-red-button"  %>
                <% end %>
              </li>
            </ul>

            <% elsif booking.status == "accepted" %>

              <%= simple_form_for [@party, booking] do |f| %>
                <%= f.hidden_field :people_coming %>
                <%= f.hidden_field :description %>
                <%= f.hidden_field :status, value: 'declined' %>
                <%= f.submit 'Refuser', class: "text-red-button"  %>
              <% end %>

            <% else %>

              <%= simple_form_for [@party, booking] do |f| %>
                <%= f.hidden_field :people_coming %>
                <%= f.hidden_field :description %>
                <%= f.hidden_field :status, value: 'accepted' %>
                <%= f.submit 'Accepter', class: "text-green-button"  %>
              <% end %>

            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
