<div class="party-description">
  <div class="party-title">
    <h3><%= @party.name %></h3>
    <ul class="list-inline">
      <li><i class="fa fa-calendar"></i> <%= @party.date %></li>
      <li><i class="fa fa-user"></i> <%= @party.available_seats %> places disponibles</li>
    </ul>
  </div>
  <div class="party-description-section">
    <h4>Description</h4>
    <p><%= @party.description %></p>
  </div>
  <div class="party-description-section">
    <h4>Quoi ramener</h4>
    <p><%= @party.requirement %></p>
  </div>
  <div class="party-description-section">
    <h4>Ton hôte</h4>
    <p><%= @party.user.first_name %> <%= @party.user.last_name %> <%= image_tag "pierre.png", class: "avatar"%> </p>
    <p> <%= @party.user.about %></p>
  </div>
  <div class="party-description-section">
    <h4>Localisation</h4>
    <p><%= @party.address %></p>
  </div>
</div>

